In [1]:
import pandas as pd
df=pd.read_csv('E:\\DS - ExcelR\\Project 2 - NLP\\Hotel_reviews_3_columns.csv', encoding = 'latin1')

In [2]:
df

,Unnamed: 0,Review,Rating,Reviews_new
0,0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...
1,1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...
2,2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...
3,3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...
4,4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...
...,...,...,...,...
20486,20486,"best kept secret 3rd time staying charm, not 5...",5,best keep secret rd time stay charm star ca no...
20487,20487,great location price view hotel great quick pl...,4,great location price view hotel great quick pl...
20488,20488,"ok just looks nice modern outside, desk staff ...",2,look nice modern outside desk staff not partic...
20489,20489,hotel theft ruined vacation hotel opened sept ...,1,hotel theft ruin vacation hotel open sept gues...
20490,20490,"people talking, ca n't believe excellent ratin...",2,people talk ca not believe excellent rating ho...

In [3]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Initialize the sentiment analyzer
sentiment_analyzer = SentimentIntensityAnalyzer()

In [4]:
def get_polarity_scores(text):
    return sentiment_analyzer.polarity_scores(text)

In [5]:
get_polarity_scores('that was a good movie but cast could be better')

{'neg': 0.0, 'neu': 0.547, 'pos': 0.453, 'compound': 0.7003}

In [6]:
df['Pol_Scores'] = df['Reviews_new'].apply(lambda text: sentiment_analyzer.polarity_scores(text))
df['Compound_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['compound'])
df['Postive_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['pos'])
df['Neg_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['neg'])
df['Neutral_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['neu'])
df.head(5)

,Unnamed: 0,Review,Rating,Reviews_new,Pol_Scores,Compound_Score,Postive_Score,Neg_Score,Neutral_Score
0,0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,0.324,0.056,0.621
1,1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,0.248,0.061,0.691
2,2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,0.226,0.081,0.693
3,3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,0.395,0.044,0.561
4,4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,0.261,0.099,0.641

In [7]:
df['Combined_Score'] = df['Rating'].apply(lambda c: 'pos' if c >3 else 'neg')
df.head(5)

,Unnamed: 0,Review,Rating,Reviews_new,Pol_Scores,Compound_Score,Postive_Score,Neg_Score,Neutral_Score,Combined_Score
0,0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,0.324,0.056,0.621,pos
1,1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,0.248,0.061,0.691,neg
2,2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,0.226,0.081,0.693,neg
3,3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,0.395,0.044,0.561,pos
4,4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,0.261,0.099,0.641,pos

In [9]:
df['Combined_Score'].value_counts()

pos    15093
neg     5398
Name: Combined_Score, dtype: int64

In [10]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer()
tfidf = TfidfVectorizer(max_features=3000)

In [11]:
X = tfidf.fit_transform(df['Reviews_new']).toarray()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['Combined_Score'])
df['target'].value_counts()
df.head(5)

,Unnamed: 0,Review,Rating,Reviews_new,Pol_Scores,Compound_Score,Postive_Score,Neg_Score,Neutral_Score,Combined_Score,target
0,0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,0.324,0.056,0.621,pos,1
1,1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,0.248,0.061,0.691,neg,0
2,2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,0.226,0.081,0.693,neg,0
3,3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,0.395,0.044,0.561,pos,1
4,4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,0.261,0.099,0.641,pos,1

In [14]:
Y = df['target']

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=2)
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [16]:
gnb = GaussianNB()
mnb = MultinomialNB()
bnb = BernoulliNB()

In [18]:
gnb.fit(X_train,Y_train)
Y_pred1 = gnb.predict(X_test)
Y_pred2 = gnb.predict(X_train)
print(accuracy_score(Y_test,Y_pred1))
print(accuracy_score(Y_train,Y_pred2))
print(confusion_matrix(Y_test,Y_pred1))
print(precision_score(Y_test,Y_pred1))

0.8077298457934804
0.8412285268089537
[[1061  325]
 [ 660 3077]]
0.9044679600235156

In [19]:
mnb.fit(X_train,Y_train)
Y_pred1 = mnb.predict(X_test)
Y_pred2 = mnb.predict(X_train)
print(accuracy_score(Y_test,Y_pred1))
print(accuracy_score(Y_train,Y_pred2))
print(confusion_matrix(Y_test,Y_pred1))
print(precision_score(Y_test,Y_pred1))

0.8539918016787039
0.874934929724102
[[ 721  665]
 [  83 3654]]
0.8460291734197731

In [21]:
bnb.fit(X_train,Y_train)
Y_pred1 = bnb.predict(X_test)
Y_pred2 = bnb.predict(X_train)
print(accuracy_score(Y_test,Y_pred1))
print(accuracy_score(Y_train,Y_pred2))
print(confusion_matrix(Y_test,Y_pred1))
print(precision_score(Y_test,Y_pred1))

0.8249072808901035
0.8337454450806872
[[ 899  487]
 [ 410 3327]]
0.8723125327739906

In [22]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train,Y_train)
LR.fit(X_train,Y_train)
Y_pred1 = LR.predict(X_test)
Y_pred2 = LR.predict(X_train)
print(accuracy_score(Y_test,Y_pred1))
print(accuracy_score(Y_train,Y_pred2))
print(confusion_matrix(Y_test,Y_pred1))
print(precision_score(Y_test,Y_pred1))

0.890103455006832
0.9205491931285789
[[ 976  410]
 [ 153 3584]]
0.8973460190285428

In [24]:
import pickle
pickle.dump(tfidf,open('E:\\DS - ExcelR\\Project 2 - NLP\\vectorizer.pkl','wb'))
pickle.dump(LR,open('E:\\DS - ExcelR\\Project 2 - NLP\\model.pkl','wb'))