In [1]:
import pandas as pd
df=pd.read_csv('E:/DS - ExcelR/Project 2 - NLP/hotel_reviews (1).csv', encoding='latin-1')

In [2]:
df
Y = df['Rating']
X = df['Review']
#print(X)

In [3]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [4]:
#Length of word in sentence
df['Length'] = df['Review'].apply(len)
df.head(10)

                                              Review  Rating  Length
0  nice hotel expensive parking got good deal sta...       4     593
1  ok nothing special charge diamond member hilto...       2    1689
2  nice rooms not 4* experience hotel monaco seat...       3    1427
3  unique, great stay, wonderful time hotel monac...       5     600
4  great stay great stay, went seahawk game aweso...       5    1281
5  love monaco staff husband stayed hotel crazy w...       5    1002
6  cozy stay rainy city, husband spent 7 nights m...       5     748
7  excellent staff, housekeeping quality hotel ch...       4     597
8  hotel stayed hotel monaco cruise, rooms genero...       5     419
9  excellent stayed hotel monaco past w/e delight...       5     271

In [5]:
#Word count for review column
df['word_count'] = df['Review'].apply(lambda x: len(str(x).split()))
df.head(10)

,Review,Rating,Length,word_count
0,nice hotel expensive parking got good deal sta...,4,593,87
1,ok nothing special charge diamond member hilto...,2,1689,250
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217
3,"unique, great stay, wonderful time hotel monac...",5,600,89
4,"great stay great stay, went seahawk game aweso...",5,1281,191
5,love monaco staff husband stayed hotel crazy w...,5,1002,134
6,"cozy stay rainy city, husband spent 7 nights m...",5,748,101
7,"excellent staff, housekeeping quality hotel ch...",4,597,85
8,"hotel stayed hotel monaco cruise, rooms genero...",5,419,59
9,excellent stayed hotel monaco past w/e delight...,5,271,35

In [6]:
#removing the tab spaces
df['no_tabs_space'] = [ X.strip() for X in X ]
df.head(10)

,Review,Rating,Length,word_count,no_tabs_space
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso..."
5,love monaco staff husband stayed hotel crazy w...,5,1002,134,love monaco staff husband stayed hotel crazy w...
6,"cozy stay rainy city, husband spent 7 nights m...",5,748,101,"cozy stay rainy city, husband spent 7 nights m..."
7,"excellent staff, housekeeping quality hotel ch...",4,597,85,"excellent staff, housekeeping quality hotel ch..."
8,"hotel stayed hotel monaco cruise, rooms genero...",5,419,59,"hotel stayed hotel monaco cruise, rooms genero..."
9,excellent stayed hotel monaco past w/e delight...,5,271,35,excellent stayed hotel monaco past w/e delight...

In [7]:
df['post_tab_spaces_length'] = df['no_tabs_space'].apply(len)
df.head(2)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687

In [8]:
df['post_tab_spaces_wCount'] = df['no_tabs_space'].apply(lambda x: len(str(x).split()))
df.head(2)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250

## Expanding Contractions
- Contractions are those little literary shortcuts we take where instead of “Should have” we prefer “Should’ve” or where “Do not” quickly becomes “Don’t”. We are going to add a new column to our dataframe called “no_contract” and apply a lambda function to the “Review” field which will expand any contractions. Be aware of the fact the expanded contractions will be effectively tokenized together. In other words, “I’ve” = “I have” instead of “I”, “have”.

In [9]:
import contractions 
df['no_contract'] = df['no_tabs_space'].apply(lambda x: [contractions.fix(word) for word in x.split()])
df.head(2)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member..."

In [10]:
df['Review_string'] = [' '.join(map(str, l)) for l in df['no_contract']]
df.head(3)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...

## Tokenization

In [11]:
#applying tokenization
from nltk.tokenize import word_tokenize
df['tokenized'] = df['Review_string'].apply(word_tokenize)
df.head(3)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo..."

## Lower Casing

In [12]:
#lower casing
df['lower_case'] = df['tokenized'].apply(lambda x: [word.lower() for word in x])
df.head(3)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo..."

In [14]:
import string
punc = string.punctuation
df['no_punctuations'] = df['lower_case'].apply(lambda x: [word for word in x if word not in punc])
df.head(5)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac..."
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game..."

## Stopwords

In [15]:
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
stop_words_custom = [' *', 'ok', '1','2','3','4','5','6','7','8','9','10']

In [16]:
#adding custom stop words to stoplist
import nltk
stop_words = nltk.corpus.stopwords.words('english')
# entend()function is used to add custom stopwords 
stop_words.extend(stop_words_custom)
print(stop_words)
#stop_words = stopwords.words('english')

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", ' *', 'ok', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [17]:
df['stopwords_removed'] = df['no_punctuations'].apply(lambda x: [word for word in x if word not in stop_words])
df.head()

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt..."
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [18]:
df['post_Stop_word_count'] = df['stopwords_removed'].apply(lambda x: len(str(x).split()))
df.head(7)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178
5,love monaco staff husband stayed hotel crazy w...,5,1002,134,love monaco staff husband stayed hotel crazy w...,1000,134,"[love, monaco, staff, husband, stayed, hotel, ...",love monaco staff husband stayed hotel crazy w...,"[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...",131
6,"cozy stay rainy city, husband spent 7 nights m...",5,748,101,"cozy stay rainy city, husband spent 7 nights m...",746,101,"[cozy, stay, rainy, city,, husband, spent, 7, ...","cozy stay rainy city, husband spent 7 nights m...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, husband, spent, 7, n...","[cozy, stay, rainy, city, husband, spent, nigh...",98

## Parts of speech tags(POS)

In [19]:
import nltk
df['parts_of_speech_tags'] = df['stopwords_removed'].apply(nltk.tag.pos_tag)
df.head(2)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (..."

In [20]:
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
df['wordnet_pos'] = df['parts_of_speech_tags'].apply(lambda x: [(word, get_wordnet_pos(pos_tag)) for (word, pos_tag) in x])
df.head()

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote..."
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu..."
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),..."

## Lemmitization

In [21]:
#lemmitization
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()
df['lemmatized'] = df['wordnet_pos'].apply(lambda x: [wnl.lemmatize(word, tag) for word, tag in x])
df.head(3)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d..."
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl..."

In [22]:
#converting to lemmatized string
df['lemma_str'] = [' '.join(map(str,l)) for l in df['lemmatized']]
df.head()

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized,lemma_str
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d...",nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi...",nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl...",nice room experience hotel monaco seattle good...
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu...","[unique, great, stay, wonderful, time, hotel, ...",unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),...","[great, stay, great, stay, go, seahawk, game, ...",great stay great stay go seahawk game awesome ...

In [23]:
#Word count for review column
df['Final_word_count'] = df['lemma_str'].apply(lambda x: len(str(x).split()))
df.head(7)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized,lemma_str,Final_word_count
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d...",nice hotel expensive parking get good deal sta...,81
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi...",nothing special charge diamond member hilton d...,231
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl...",nice room experience hotel monaco seattle good...,205
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu...","[unique, great, stay, wonderful, time, hotel, ...",unique great stay wonderful time hotel monaco ...,85
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),...","[great, stay, great, stay, go, seahawk, game, ...",great stay great stay go seahawk game awesome ...,178
5,love monaco staff husband stayed hotel crazy w...,5,1002,134,love monaco staff husband stayed hotel crazy w...,1000,134,"[love, monaco, staff, husband, stayed, hotel, ...",love monaco staff husband stayed hotel crazy w...,"[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...",131,"[(love, VB), (monaco, JJ), (staff, NN), (husba...","[(love, v), (monaco, a), (staff, n), (husband,...","[love, monaco, staff, husband, stay, hotel, cr...",love monaco staff husband stay hotel crazy wee...,131
6,"cozy stay rainy city, husband spent 7 nights m...",5,748,101,"cozy stay rainy city, husband spent 7 nights m...",746,101,"[cozy, stay, rainy, city,, husband, spent, 7, ...","cozy stay rainy city, husband spent 7 nights m...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, husband, spent, 7, n...","[cozy, stay, rainy, city, husband, spent, nigh...",98,"[(cozy, NN), (stay, NN), (rainy, JJ), (city, N...","[(cozy, n), (stay, n), (rainy, a), (city, n), ...","[cozy, stay, rainy, city, husband, spend, nigh...",cozy stay rainy city husband spend night monac...,98

In [24]:
#Length of word in sentence
df['?Final_Length'] = df['lemma_str'].apply(len)
df.head(10)

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,lower_case,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized,lemma_str,Final_word_count,?Final_Length
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d...",nice hotel expensive parking get good deal sta...,81,523
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi...",nothing special charge diamond member hilton d...,231,1538
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl...",nice room experience hotel monaco seattle good...,205,1325
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, ,, great, stay, ,, wonderful, time, h...","[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu...","[unique, great, stay, wonderful, time, hotel, ...",unique great stay wonderful time hotel monaco ...,85,545
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),...","[great, stay, great, stay, go, seahawk, game, ...",great stay great stay go seahawk game awesome ...,178,1114
5,love monaco staff husband stayed hotel crazy w...,5,1002,134,love monaco staff husband stayed hotel crazy w...,1000,134,"[love, monaco, staff, husband, stayed, hotel, ...",love monaco staff husband stayed hotel crazy w...,"[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...","[love, monaco, staff, husband, stayed, hotel, ...",131,"[(love, VB), (monaco, JJ), (staff, NN), (husba...","[(love, v), (monaco, a), (staff, n), (husband,...","[love, monaco, staff, husband, stay, hotel, cr...",love monaco staff husband stay hotel crazy wee...,131,918
6,"cozy stay rainy city, husband spent 7 nights m...",5,748,101,"cozy stay rainy city, husband spent 7 nights m...",746,101,"[cozy, stay, rainy, city,, husband, spent, 7, ...","cozy stay rainy city, husband spent 7 nights m...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, ,, husband, spent, 7...","[cozy, stay, rainy, city, husband, spent, 7, n...","[cozy, stay, rainy, city, husband, spent, nigh...",98,"[(cozy, NN), (stay, NN), (rainy, JJ), (city, N...","[(cozy, n), (stay, n), (rainy, a), (city, n), ...","[cozy, stay, rainy, city, husband, spend, nigh...",cozy stay rainy city husband spend night monac...,98,688
7,"excellent staff, housekeeping quality hotel ch...",4,597,85,"excellent staff, housekeeping quality hotel ch...",595,85,"[excellent, staff,, housekeeping, quality, hot...","excellent staff, housekeeping quality hotel ch...","[excellent, staff, ,, housekeeping, quality, h...","[excellent, staff, ,, housekeeping, quality, h...","[excellent, staff, housekeeping, quality, hote...","[excellent, staff, housekeeping, quality, hote...",84,"[(excellent, JJ), (staff, NN), (housekeeping, ...","[(excellent, a), (staff, n), (housekeeping, v)...","[excellent, staff, housekeep, quality, hotel, ...",excellent staff housekeep quality hotel chock ...,84,561
8,"hotel stayed hotel monaco cruise, rooms genero...",5,419,59,"hotel stayed hotel monaco cruise, rooms genero...",417,59,"[hotel, stayed, hotel, monaco, cruise,, rooms,...","hotel stayed hotel monaco cruise, rooms genero...","[hotel, stayed, hotel, monaco, cruise, ,, room...","[hotel, stayed, hotel, monaco, cruise, ,, room...","[hotel, stayed, hotel, monaco, cruise, rooms, ...","[hotel, stayed, hotel, monaco, cruise, rooms, ...",58,"[(hotel, NN), (stayed, VBD), (hotel, NN), (mon...","[(hotel, n), (stayed, v), (hotel, n), (monaco,...","[hotel, stay, hotel, monaco, cruise, room, gen...",hotel stay hotel monaco cruise room generous d...,58,385
9,excellent stayed hotel monaco past w/e delight...,5,271,35,excellent stayed hotel monaco past w/e delight...,269,35,"[excellent, stayed, hotel, monaco, past, w/e, ...",excellent stayed hotel monaco past w/e delight...,"[excellent, stayed, hotel, monaco, past, w/e, ...","[excellent, stayed, hotel, monaco, past, w/e, ...","[excellent, stayed, hotel, monaco, past, w/e, ...","[excellent, stayed, hotel, monaco, past, w/e, ...",35,"[(excellent, JJ), (stayed, VBD), (hotel, NN), ...","[(excellent, a), (stayed, v), (hotel, n), (mon...","[excellent, stay, hotel, monaco, past, w/e, de...",excellent stay hotel monaco past w/e delight r...,35,259

In [26]:
df.to_csv('E:\DS - ExcelR\Project 2 - NLP\Hotel_reviews_cleaned_file.csv')

In [27]:
#replacing word n't with not
df['Review_new']=df['lemma_str'].str.replace("""n't""", 'not')
df['Review_new'][11]

'nice value seattle stayed night late 2007. look comparable hilton marriott westin area points/miles not give monaco shot pleasantly surprised nice room service quick tasty bed especially comfortable unlike people nothing positive thing say service downside relatively small exercise room treadmill heck east coast time run person day definitely stay'

In [28]:
df

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,...,no_punctuations,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized,lemma_str,Final_word_count,?Final_Length,Review_new
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...",...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d...",nice hotel expensive parking get good deal sta...,81,523,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...",...,"[ok, nothing, special, charge, diamond, member...","[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi...",nothing special charge diamond member hilton d...,231,1538,nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...",...,"[nice, rooms, not, 4, experience, hotel, monac...","[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl...",nice room experience hotel monaco seattle good...,205,1325,nice room experience hotel monaco seattle good...
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...",...,"[unique, great, stay, wonderful, time, hotel, ...","[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu...","[unique, great, stay, wonderful, time, hotel, ...",unique great stay wonderful time hotel monaco ...,85,545,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...",...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),...","[great, stay, great, stay, go, seahawk, game, ...",great stay great stay go seahawk game awesome ...,178,1114,great stay great stay go seahawk game awesome ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,733,109,"best kept secret 3rd time staying charm, not 5...",731,109,"[best, kept, secret, 3rd, time, staying, charm...","best kept secret 3rd time staying charm, not 5...","[best, kept, secret, 3rd, time, staying, charm...",...,"[best, kept, secret, 3rd, time, staying, charm...","[best, kept, secret, 3rd, time, staying, charm...",106,"[(best, JJS), (kept, VBD), (secret, JJ), (3rd,...","[(best, a), (kept, v), (secret, a), (3rd, n), ...","[best, keep, secret, 3rd, time, stay, charm, 5...",best keep secret 3rd time stay charm 5-star ca...,106,669,best keep secret 3rd time stay charm 5-star ca...
20487,great location price view hotel great quick pl...,4,306,39,great location price view hotel great quick pl...,304,39,"[great, location, price, view, hotel, great, q...",great location price view hotel great quick pl...,"[great, location, price, view, hotel, great, q...",...,"[great, location, price, view, hotel, great, q...","[great, location, price, view, hotel, great, q...",39,"[(great, JJ), (location, NN), (price, NN), (vi...","[(great, a), (location, n), (price, n), (view,...","[great, location, price, view, hotel, great, q...",great location price view hotel great quick pl...,39,297,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,443,63,"ok just looks nice modern outside, desk staff ...",441,63,"[ok, just, looks, nice, modern, outside,, desk...","ok just looks nice modern outside, desk staff ...","[ok, just, looks, nice, modern, outside, ,, de...",...,"[ok, just, looks, nice, modern, outside, desk,...","[looks, nice, modern, outside, desk, staff, n'...",60,"[(looks, NNS), (nice, JJ), (modern, JJ), (outs...","[(looks, n), (nice, a), (modern, a), (outside,...","[look, nice, modern, outside, desk, staff, n't...",look nice modern outside desk staff n't partic...,60,403,look nice modern outside desk staff not partic...
20489,hotel theft ruined vacation hotel opened sept ...,1,5557,781,hotel theft ruined vacation hotel opened sept ...,5555,781,"[hotel, theft, ruined, vacation, hotel, opened...",hotel theft ruined vacation hotel opened sept ...,"[hotel, theft, ruined, vacation, hotel, opened...",...,"[hotel, theft, ruined, vacation, hotel, opened...","[hotel, theft, ruined, vacation, hotel, opened...",747,"[(hotel, NN), (theft, NN), (ruined, VBD), (vac...","[(hotel, n), (theft, n), (ruined, v), (vacatio...","[hotel, theft, ruin, vacation, hotel, open, se...",hotel theft ruin vacation hotel open sept 17 2...,747,5082,hotel theft ruin vacation hotel open sept 17 2...
20490,"people talking, ca n't believe excellent ratin...",2,620,90,"people talking, ca n't believe excellent ratin...",618,90,"[people, talking,, ca, n't, believe, excellent...","people talking, ca n't believe excellent ratin...","[people, talking, ,, ca, n't, believe, excelle...",...,"[people, talking, ca, n't, believe, excellent,...","[people, talking, ca, n't, believe, excellent,...",86,"[(people, NNS), (talking, VBG), (ca, MD), (n't...","[(people, n), (talking, v), (ca, n), (n't, r),...","[people, talk, ca, n't, believe, excellent, ra...",people talk ca n't believe excellent rating ho...,86,560,people talk ca not believe excellent rating ho...

In [29]:
df['Review_new'][11]

'nice value seattle stayed night late 2007. look comparable hilton marriott westin area points/miles not give monaco shot pleasantly surprised nice room service quick tasty bed especially comfortable unlike people nothing positive thing say service downside relatively small exercise room treadmill heck east coast time run person day definitely stay'

In [31]:
#removing , spaces, number etc from dataset
import re
df['Reviews_new']=df['Review_new'].map(lambda x: re.sub('[^a-zA-Z]+', ' ', x)) 
df['Reviews_new'][11]

'nice value seattle stayed night late look comparable hilton marriott westin area points miles not give monaco shot pleasantly surprised nice room service quick tasty bed especially comfortable unlike people nothing positive thing say service downside relatively small exercise room treadmill heck east coast time run person day definitely stay'

In [32]:
df

,Review,Rating,Length,word_count,no_tabs_space,post_tab_spaces_length,post_tab_spaces_wCount,no_contract,Review_string,tokenized,...,stopwords_removed,post_Stop_word_count,parts_of_speech_tags,wordnet_pos,lemmatized,lemma_str,Final_word_count,?Final_Length,Review_new,Reviews_new
0,nice hotel expensive parking got good deal sta...,4,593,87,nice hotel expensive parking got good deal sta...,591,87,"[nice, hotel, expensive, parking, got, good, d...",nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...",...,"[nice, hotel, expensive, parking, got, good, d...",81,"[(nice, JJ), (hotel, NN), (expensive, JJ), (pa...","[(nice, a), (hotel, n), (expensive, a), (parki...","[nice, hotel, expensive, parking, get, good, d...",nice hotel expensive parking get good deal sta...,81,523,nice hotel expensive parking get good deal sta...,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,1689,250,ok nothing special charge diamond member hilto...,1687,250,"[ok, nothing, special, charge, diamond, member...",ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...",...,"[nothing, special, charge, diamond, member, hi...",231,"[(nothing, NN), (special, JJ), (charge, NN), (...","[(nothing, n), (special, a), (charge, n), (dia...","[nothing, special, charge, diamond, member, hi...",nothing special charge diamond member hilton d...,231,1538,nothing special charge diamond member hilton d...,nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,1427,217,nice rooms not 4* experience hotel monaco seat...,1425,217,"[nice, rooms, not, 4*, experience, hotel, mona...",nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...",...,"[nice, rooms, experience, hotel, monaco, seatt...",205,"[(nice, JJ), (rooms, NNS), (experience, VBP), ...","[(nice, a), (rooms, n), (experience, v), (hote...","[nice, room, experience, hotel, monaco, seattl...",nice room experience hotel monaco seattle good...,205,1325,nice room experience hotel monaco seattle good...,nice room experience hotel monaco seattle good...
3,"unique, great stay, wonderful time hotel monac...",5,600,89,"unique, great stay, wonderful time hotel monac...",598,89,"[unique,, great, stay,, wonderful, time, hotel...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...",...,"[unique, great, stay, wonderful, time, hotel, ...",85,"[(unique, JJ), (great, JJ), (stay, NN), (wonde...","[(unique, a), (great, a), (stay, n), (wonderfu...","[unique, great, stay, wonderful, time, hotel, ...",unique great stay wonderful time hotel monaco ...,85,545,unique great stay wonderful time hotel monaco ...,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,1281,191,"great stay great stay, went seahawk game aweso...",1279,191,"[great, stay, great, stay,, went, seahawk, gam...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...",...,"[great, stay, great, stay, went, seahawk, game...",178,"[(great, JJ), (stay, NN), (great, JJ), (stay, ...","[(great, a), (stay, n), (great, a), (stay, n),...","[great, stay, great, stay, go, seahawk, game, ...",great stay great stay go seahawk game awesome ...,178,1114,great stay great stay go seahawk game awesome ...,great stay great stay go seahawk game awesome ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,733,109,"best kept secret 3rd time staying charm, not 5...",731,109,"[best, kept, secret, 3rd, time, staying, charm...","best kept secret 3rd time staying charm, not 5...","[best, kept, secret, 3rd, time, staying, charm...",...,"[best, kept, secret, 3rd, time, staying, charm...",106,"[(best, JJS), (kept, VBD), (secret, JJ), (3rd,...","[(best, a), (kept, v), (secret, a), (3rd, n), ...","[best, keep, secret, 3rd, time, stay, charm, 5...",best keep secret 3rd time stay charm 5-star ca...,106,669,best keep secret 3rd time stay charm 5-star ca...,best keep secret rd time stay charm star ca no...
20487,great location price view hotel great quick pl...,4,306,39,great location price view hotel great quick pl...,304,39,"[great, location, price, view, hotel, great, q...",great location price view hotel great quick pl...,"[great, location, price, view, hotel, great, q...",...,"[great, location, price, view, hotel, great, q...",39,"[(great, JJ), (location, NN), (price, NN), (vi...","[(great, a), (location, n), (price, n), (view,...","[great, location, price, view, hotel, great, q...",great location price view hotel great quick pl...,39,297,great location price view hotel great quick pl...,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,443,63,"ok just looks nice modern outside, desk staff ...",441,63,"[ok, just, looks, nice, modern, outside,, desk...","ok just looks nice modern outside, desk staff ...","[ok, just, looks, nice, modern, outside, ,, de...",...,"[looks, nice, modern, outside, desk, staff, n'...",60,"[(looks, NNS), (nice, JJ), (modern, JJ), (outs...","[(looks, n), (nice, a), (modern, a), (outside,...","[look, nice, modern, outside, desk, staff, n't...",look nice modern outside desk staff n't partic...,60,403,look nice modern outside desk staff not partic...,look nice modern outside desk staff not partic...
20489,hotel theft ruined vacation hotel opened sept ...,1,5557,781,hotel theft ruined vacation hotel opened sept ...,5555,781,"[hotel, theft, ruined, vacation, hotel, opened...",hotel theft ruined vacation hotel opened sept ...,"[hotel, theft, ruined, vacation, hotel, opened...",...,"[hotel, theft, ruined, vacation, hotel, opened...",747,"[(hotel, NN), (theft, NN), (ruined, VBD), (vac...","[(hotel, n), (theft, n), (ruined, v), (vacatio...","[hotel, theft, ruin, vacation, hotel, open, se...",hotel theft ruin vacation hotel open sept 17 2...,747,5082,hotel theft ruin vacation hotel open sept 17 2...,hotel theft ruin vacation hotel open sept gues...
20490,"people talking, ca n't believe excellent ratin...",2,620,90,"people talking, ca n't believe excellent ratin...",618,90,"[people, talking,, ca, n't, believe, excellent...","people talking, ca n't believe excellent ratin...","[people, talking, ,, ca, n't, believe, excelle...",...,"[people, talking, ca, n't, believe, excellent,...",86,"[(people, NNS), (talking, VBG), (ca, MD), (n't...","[(people, n), (talking, v), (ca, n), (n't, r),...","[people, talk, ca, n't, believe, excellent, ra...",people talk ca n't believe excellent rating ho...,86,560,people talk ca not believe excellent rating ho...,people talk ca not believe excellent rating ho...

In [33]:
df.to_csv('E:\DS - ExcelR\Project 2 - NLP\Hotel_reviews_cleaned_file.csv')

In [2]:
import pandas as pd
dfnew=pd.read_csv('E:/DS - ExcelR/Project 2 - NLP/Hotel_reviews_cleaned_file.csv', encoding='latin-1')

In [4]:
dfnew.columns[[1]]

Index(['Review'], dtype='object')

In [6]:
dfnew.drop(dfnew.columns[[0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]], axis=1, inplace=True)
  
dfnew.head(3)

,Review,Rating,Reviews_new
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...

In [7]:
dfnew.to_csv('E:\DS - ExcelR\Project 2 - NLP\Hotel_reviews_3_columns.csv')

In [10]:
#Sentimental analysis using VADER
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

dfnew['Scores'] = dfnew['Reviews_new'].apply(lambda review: sid.polarity_scores(review))

dfnew['Compound']  = dfnew['Scores'].apply(lambda score_dict: score_dict['compound'])

In [11]:
dfnew[[3]][[1]]

,Review,Rating,Reviews_new,Scores,Compound
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914

#Example
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Initialize the sentiment analyzer
sentiment_analyzer = SentimentIntensityAnalyzer()

def get_polarity_scores(text):
    return sentiment_analyzer.polarity_scores(text)

# Define a sample of text data
text_data = [
    "This is a great movie!",
    "This movie was terrible.",
    "I love this movie!",
    "I hated this movie.",
    "The movie was okay, nothing special."
]

# Get polarity scores for each text
polarity_scores = [get_polarity_scores(text) for text in text_data]

# Print the polarity scores
for i, score in enumerate(polarity_scores):
    print(f"Text {i+1}: {score}")

In [17]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Initialize the sentiment analyzer
sentiment_analyzer = SentimentIntensityAnalyzer()

In [18]:
def get_polarity_scores(text):
    return sentiment_analyzer.polarity_scores(text)

In [30]:
dfnew['Pol_Scores'] = dfnew['Reviews_new'].apply(lambda text: sentiment_analyzer.polarity_scores(text))

In [22]:
dfnew.head(5)

,Review,Rating,Reviews_new,Scores,Compound,Pol_Scores
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co..."
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co..."
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co..."
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co..."

In [35]:
dfnew['Compound_pol']  = dfnew['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['compound'])

In [37]:
dfnew.head(5)

,Review,Rating,Reviews_new,Scores,Pol_Scores,Compound_pol
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...","{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...","{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...","{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...","{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...","{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914

In [38]:
dfnew.columns[[1]]

Index(['Rating'], dtype='object')

In [42]:
dfnew.drop(dfnew.columns[[3]], axis=1, inplace=True)
  
dfnew.head(3)

,Review,Rating,Reviews_new
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...

In [44]:
df = dfnew

In [45]:
df

,Review,Rating,Reviews_new
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,best keep secret rd time stay charm star ca no...
20487,great location price view hotel great quick pl...,4,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,look nice modern outside desk staff not partic...
20489,hotel theft ruined vacation hotel opened sept ...,1,hotel theft ruin vacation hotel open sept gues...
20490,"people talking, ca n't believe excellent ratin...",2,people talk ca not believe excellent rating ho...

## Sentimental Analysis

In [46]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Initialize the sentiment analyzer
sentiment_analyzer = SentimentIntensityAnalyzer()

In [47]:
def get_polarity_scores(text):
    return sentiment_analyzer.polarity_scores(text)

In [49]:
df['Pol_Scores'] = df['Reviews_new'].apply(lambda text: sentiment_analyzer.polarity_scores(text))

In [50]:
df['Compound_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['compound'])

In [52]:
df['Postive_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['pos'])

In [53]:
df['Neg_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['neg'])

In [54]:
df['Neutral_Score']  = df['Pol_Scores'].apply(lambda pol_score_dict: pol_score_dict['neu'])

In [55]:
df.head(5)

,Review,Rating,Reviews_new,Pol_Scores,Compound_Score,Postive_Score,Neg_Score,Neutral_Score
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,0.324,0.056,0.621
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,0.248,0.061,0.691
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,0.226,0.081,0.693
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,0.395,0.044,0.561
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,0.261,0.099,0.641

In [56]:
df['Combined_Score'] = df['Rating'].apply(lambda c: 'pos' if c >3 else 'neg')

In [57]:
df.head(5)

,Review,Rating,Reviews_new,Pol_Scores,Compound_Score,Postive_Score,Neg_Score,Neutral_Score,Combined_Score
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking get good deal sta...,"{'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...",0.9808,0.324,0.056,0.621,pos
1,ok nothing special charge diamond member hilto...,2,nothing special charge diamond member hilton d...,"{'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...",0.9948,0.248,0.061,0.691,neg
2,nice rooms not 4* experience hotel monaco seat...,3,nice room experience hotel monaco seattle good...,"{'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...",0.9895,0.226,0.081,0.693,neg
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"{'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...",0.9918,0.395,0.044,0.561,pos
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay go seahawk game awesome ...,"{'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...",0.9914,0.261,0.099,0.641,pos

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Review          20491 non-null  object
 1   Rating          20491 non-null  int64
 2   Reviews_new     20491 non-null  object
 3   Pol_Scores      20491 non-null  object
 4   Compound_Score  20491 non-null  float64
 5   Postive_Score   20491 non-null  float64
 6   Neg_Score       20491 non-null  float64
 7   Neutral_Score   20491 non-null  float64
 8   Combined_Score  20491 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 1.4+ MB

In [60]:
df['Combined_Score'].value_counts()

pos    15093
neg     5398
Name: Combined_Score, dtype: int64

In [62]:
df.to_csv('E:\\DS - ExcelR\\Project 2 - NLP\\neg_test.csv')

In [64]:
df["Rating"].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [65]:
#Count Vectorizor and TfIDF
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer = CountVectorizer()
from sklearn.feature_extraction.text import TfidfTransformer
Vt = Vectorizer.fit_transform(df['Reviews_new'])
Vt.toarray()
transformer = TfidfTransformer().fit(Vt)
X_vect = transformer.transform(Vt)  
X_vect.shape
X_vect.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [68]:
#Label Encoding after sentimental analysis
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Initialize the label encoder
LE = LabelEncoder()

# Fit and transform the column
encoded_column = LE.fit_transform(df['Combined_Score'])

# Replace the original column with the encoded column
df['Target'] = encoded_column

# Print the updated dataframe
print(df)

                                                  Review  Rating  \
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

                                             Reviews_new  \
0      nice hotel expensive parking get good deal sta...
1      nothing special charge diamond member hilton d...
2      nice room experience hotel monaco seattle good...
3      unique great stay wonderful time hotel monaco ...
4      great stay great stay go seahawk game awesome ...
...                                                  ...
20486  best keep secret rd time stay charm star ca no...
20487  great location price view hotel great quick pl...
20488  look nice modern outside desk staff not partic...
20489  hotel theft ruin vacation hotel open sept gues...
20490  people talk ca not believe excellent rating ho...

                                              Pol_Scores  Compound_Score  \
0      {'neg': 0.056, 'neu': 0.621, 'pos': 0.324, 'co...          0.9808
1      {'neg': 0.061, 'neu': 0.691, 'pos': 0.248, 'co...          0.9948
2      {'neg': 0.081, 'neu': 0.693, 'pos': 0.226, 'co...          0.9895
3      {'neg': 0.044, 'neu': 0.561, 'pos': 0.395, 'co...          0.9918
4      {'neg': 0.099, 'neu': 0.641, 'pos': 0.261, 'co...          0.9914
...                                                  ...             ...
20486  {'neg': 0.119, 'neu': 0.605, 'pos': 0.276, 'co...          0.9735
20487  {'neg': 0.0, 'neu': 0.568, 'pos': 0.432, 'comp...          0.9790
20488  {'neg': 0.12, 'neu': 0.732, 'pos': 0.148, 'com...          0.4687
20489  {'neg': 0.154, 'neu': 0.649, 'pos': 0.198, 'co...          0.9928
20490  {'neg': 0.179, 'neu': 0.64, 'pos': 0.182, 'com...          0.0903

       Postive_Score  Neg_Score  Neutral_Score Combined_Score  Target
0              0.324      0.056          0.621            pos       1
1              0.248      0.061          0.691            neg       0
2              0.226      0.081          0.693            neg       0
3              0.395      0.044          0.561            pos       1
4              0.261      0.099          0.641            pos       1
...              ...        ...            ...            ...     ...
20486          0.276      0.119          0.605            pos       1
20487          0.432      0.000          0.568            pos       1
20488          0.148      0.120          0.732            neg       0
20489          0.198      0.154          0.649            neg       0
20490          0.182      0.179          0.640            neg       0

[20491 rows x 10 columns]

In [112]:
df.head(5)
df['Target'].value_counts()

1    15093
0     5398
Name: Target, dtype: int64

## Naive Bayes Model

In [98]:
#Naive Bayes Model
Y=df['Target']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.3, random_state = 5000)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

# naive baye
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,Y_train)
Y_pred_train = nb.predict(X_train)
Y_pred_test = nb.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(14343, 44862) (6148, 44862) (14343,) (6148,)
Training_accuracy:  0.755
Test_accuracy:  0.757
[[  306  3510]
 [    0 10527]]
[[  87 1495]
 [   0 4566]]
              precision    recall  f1-score   support

           0       1.00      0.05      0.10      1582
           1       0.75      1.00      0.86      4566

    accuracy                           0.76      6148
   macro avg       0.88      0.53      0.48      6148
weighted avg       0.82      0.76      0.67      6148

              precision    recall  f1-score   support

           0       1.00      0.08      0.15      3816
           1       0.75      1.00      0.86     10527

    accuracy                           0.76     14343
   macro avg       0.87      0.54      0.50     14343
weighted avg       0.82      0.76      0.67     14343

## Logistic Regression Model

In [97]:
#Logistic Regression
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25, random_state = 5000)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

# LR
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train,Y_train)
Y_pred_train = LR.predict(X_train)
Y_pred_test = LR.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Training_accuracy:  0.925
Test_accuracy:  0.907
[[ 3199   907]
 [  238 11024]]
[[ 925  367]
 [ 111 3720]]
              precision    recall  f1-score   support

           0       0.89      0.72      0.79      1292
           1       0.91      0.97      0.94      3831

    accuracy                           0.91      5123
   macro avg       0.90      0.84      0.87      5123
weighted avg       0.91      0.91      0.90      5123

              precision    recall  f1-score   support

           0       0.93      0.78      0.85      4106
           1       0.92      0.98      0.95     11262

    accuracy                           0.93     15368
   macro avg       0.93      0.88      0.90     15368
weighted avg       0.93      0.93      0.92     15368

## Decision Tree - Entropy

In [105]:
#Decision Tree - Entropy
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25, random_state = 5000)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

# DT - Entropy
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion="entropy",max_depth=8)
classifier.fit(X_train,Y_train)

Y_pred_train = classifier.predict(X_train)
Y_pred_test = classifier.predict(X_test)

#calculating Node counts and max depth
print("Node Counts :",classifier.tree_.node_count)
print("Max Depth:",classifier.tree_.max_depth)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Node Counts : 227
Max Depth: 8
Training_accuracy:  0.808
Test_accuracy:  0.796
[[ 1505  2601]
 [  355 10907]]
[[ 416  876]
 [ 168 3663]]
              precision    recall  f1-score   support

           0       0.71      0.32      0.44      1292
           1       0.81      0.96      0.88      3831

    accuracy                           0.80      5123
   macro avg       0.76      0.64      0.66      5123
weighted avg       0.78      0.80      0.77      5123

              precision    recall  f1-score   support

           0       0.81      0.37      0.50      4106
           1       0.81      0.97      0.88     11262

    accuracy                           0.81     15368
   macro avg       0.81      0.67      0.69     15368
weighted avg       0.81      0.81      0.78     15368

## Random Forest using Gini Index

In [109]:
#Random Forest- Gini
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25, random_state = 5000)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

# DT - Entropy
from sklearn.ensemble  import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=3,max_features=0.5, max_samples=0.7)
rfc.fit(X_train,Y_train)

Y_pred_train = rfc.predict(X_train)
Y_pred_test = rfc.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Training_accuracy:  0.773
Test_accuracy:  0.787
[[  885  3221]
 [  271 10991]]
[[ 306  986]
 [ 105 3726]]
              precision    recall  f1-score   support

           0       0.74      0.24      0.36      1292
           1       0.79      0.97      0.87      3831

    accuracy                           0.79      5123
   macro avg       0.77      0.60      0.62      5123
weighted avg       0.78      0.79      0.74      5123

              precision    recall  f1-score   support

           0       0.77      0.22      0.34      4106
           1       0.77      0.98      0.86     11262

    accuracy                           0.77     15368
   macro avg       0.77      0.60      0.60     15368
weighted avg       0.77      0.77      0.72     15368

## Gradient Boosting

In [114]:
#Gradient boosting
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

#Using gradient boosting classifier
from sklearn.ensemble import GradientBoostingClassifier
GBR = GradientBoostingClassifier(n_estimators=100, max_depth=8,max_features=0.7,random_state=10,learning_rate=0.01)
GBR.fit(X_train,Y_train)

Y_pred_train = GBR.predict(X_train)
Y_pred_test = GBR.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Training_accuracy:  0.84
Test_accuracy:  0.807
[[ 1644  2409]
 [   52 11263]]
[[ 405  940]
 [  47 3731]]
              precision    recall  f1-score   support

           0       0.90      0.30      0.45      1345
           1       0.80      0.99      0.88      3778

    accuracy                           0.81      5123
   macro avg       0.85      0.64      0.67      5123
weighted avg       0.82      0.81      0.77      5123

              precision    recall  f1-score   support

           0       0.97      0.41      0.57      4053
           1       0.82      1.00      0.90     11315

    accuracy                           0.84     15368
   macro avg       0.90      0.70      0.74     15368
weighted avg       0.86      0.84      0.81     15368

## Ada Boost

In [116]:
#Using AdaBoost
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

#Using AdaBoost
from sklearn.ensemble import AdaBoostClassifier
ABR = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3, max_features=0.6),n_estimators=100,
                                random_state=None,learning_rate=0.01)
ABR.fit(X_train,Y_train)
Y_pred_train = ABR.predict(X_train)
Y_pred_test = ABR.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Training_accuracy:  0.799
Test_accuracy:  0.791
[[ 1198  2852]
 [  240 11078]]
[[ 371  977]
 [  94 3681]]
              precision    recall  f1-score   support

           0       0.80      0.28      0.41      1348
           1       0.79      0.98      0.87      3775

    accuracy                           0.79      5123
   macro avg       0.79      0.63      0.64      5123
weighted avg       0.79      0.79      0.75      5123

              precision    recall  f1-score   support

           0       0.83      0.30      0.44      4050
           1       0.80      0.98      0.88     11318

    accuracy                           0.80     15368
   macro avg       0.81      0.64      0.66     15368
weighted avg       0.81      0.80      0.76     15368

## XG Boost

In [128]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: xgboost in c:\users\admin\appdata\roaming\python\python39\site-packages (0.90)
Requirement already satisfied: scipy in c:\programdata\anaconda3\anaconda\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\anaconda\lib\site-packages (from xgboost) (1.21.5)

In [130]:
#Using XGBoost
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X_vect,Y, test_size=0.25)
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

#Using XGBoost
from xgboost import XGBClassifier
xgb=XGBClassifier(n_estimators=200,gamma=10,reg_lambda=1, learning_rate=0.1)
xgb.fit(X_train,Y_train)
Y_pred_train = xgb.predict(X_train)
Y_pred_test = xgb.predict(X_test)

#creating matrix and score
from sklearn.metrics import accuracy_score
Training_accuracy =accuracy_score(Y_train,Y_pred_train).round(3)
Test_accuracy =accuracy_score(Y_test,Y_pred_test).round(3)
print("Training_accuracy: ", Training_accuracy.round(3))
print("Test_accuracy: ", Test_accuracy.round(3))

#Confusion metrix
from sklearn.metrics import confusion_matrix
cm_train=confusion_matrix(Y_train,Y_pred_train)
print(cm_train)
cm_test=confusion_matrix(Y_test,Y_pred_test)
print(cm_test)

#Using classification report for finding out Precision score/Recall/F1 Score and Support
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_test))
print(classification_report(Y_train, Y_pred_train))

(15368, 44862) (5123, 44862) (15368,) (5123,)
Training_accuracy:  0.896
Test_accuracy:  0.871
[[ 2777  1285]
 [  309 10997]]
[[ 832  504]
 [ 157 3630]]
              precision    recall  f1-score   support

           0       0.84      0.62      0.72      1336
           1       0.88      0.96      0.92      3787

    accuracy                           0.87      5123
   macro avg       0.86      0.79      0.82      5123
weighted avg       0.87      0.87      0.86      5123

              precision    recall  f1-score   support

           0       0.90      0.68      0.78      4062
           1       0.90      0.97      0.93     11306

    accuracy                           0.90     15368
   macro avg       0.90      0.83      0.85     15368
weighted avg       0.90      0.90      0.89     15368

In [131]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

models = []
models.append(('LogisticRegression', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVM', SVC()))
#models.append(('Decision Tree Classifier', DecisionTreeClassifier(max_depth=4)))
#models.append(('Decision Tree gini Classifier', DecisionTreeClassifier(criterion="gini",max_depth=4)))
models.append(('Decision Tree  entropy Classifier', DecisionTreeClassifier(criterion="entropy",max_depth=5)))
models.append(('Naive Bayers', MultinomialNB()))
#models.append(('Bagging Classifier', BaggingClassifier(base_estimator= DecisionTreeClassifier(max_depth = 4),n_estimators=500,max_samples=0.7,random_state=7,max_features = 0.5)))
#models.append(('Random Forest Classifier', RandomForestClassifier(n_estimators=300, max_depth=3,max_features=0.6, max_samples=0.7)))
models.append(('Random Forest gini Classifier', RandomForestClassifier(n_estimators=500,criterion='gini',max_depth=4,max_features=0.7)))
#models.append(('Random Forest entropy Classifier', RandomForestClassifier(n_estimators=500,criterion='entropy',max_depth=4,max_features=0.7)))
models.append(('ADA Boost', AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3, max_features=0.6),n_estimators=150,random_state=None,learning_rate=0.01)))
models.append(('XGB',XGBClassifier(gamma=10,reg_lambda=4,n_estimators=250,learning_rate=0.01)))

In [132]:
# Importing needed packages
from sklearn.metrics import accuracy_score


for title, modelname in models:
    modelname.fit(X_train, Y_train)

    Y_pred_test = modelname.predict(X_test)
    Y_pred_train = modelname.predict(X_train)
    predictions_test = [round(value) for value in Y_pred_test]
    predictions_train = [round(value) for value in Y_pred_train]

    #Evaluating predictions
    accuracy = accuracy_score(Y_test, Y_pred_test)
    print(title,"Accuracy_test: %.2f%%" % (accuracy * 100.0))
    accuracy = accuracy_score(Y_train, Y_pred_train)
    print(title,"Accuracy_train: %.2f%%" % (accuracy * 100.0))

LogisticRegression Accuracy_test: 90.14%
LogisticRegression Accuracy_train: 92.63%

C:\ProgramData\Anaconda3\Anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

KNN Accuracy_test: 80.38%
KNN Accuracy_train: 85.62%
SVM Accuracy_test: 90.16%
SVM Accuracy_train: 98.37%
Decision Tree  entropy Classifier Accuracy_test: 79.09%
Decision Tree  entropy Classifier Accuracy_train: 78.45%
Naive Bayers Accuracy_test: 75.27%
Naive Bayers Accuracy_train: 76.03%
Random Forest gini Classifier Accuracy_test: 80.07%
Random Forest gini Classifier Accuracy_train: 79.71%
ADA Boost Accuracy_test: 80.15%
ADA Boost Accuracy_train: 80.29%
XGB Accuracy_test: 80.66%
XGB Accuracy_train: 80.84%

In [ ]:
################################

In [133]:
from pickle import dump
from pickle import load

# save the model to disk
dump(LR, open('E:\\DS - ExcelR\\Project 2 - NLP\\LRintel1.sav', 'wb')) #sav file formal
dump(LR, open('E:\\DS - ExcelR\\Project 2 - NLP\\LRintel1.pkl', 'wb'))